[includeIf "gitdir:~/Development/_Personal/"]
	path = .gitconfig_personal
[includeIf "gitdir:~/Development/_Oursky/"]
	path = .gitconfig_oursky
[core]
	excludesfile = /Users/chihim/.gitignore_global
	editor = code
[commit]
	template = /Users/chihim/.stCommitMsg
[gpg]
	program = /opt/homebrew/bin/gpg
[alias]
	yoink = pull
	yeet = push
[diff "blackbox"]
	textconv = gpg --use-agent -q --batch --decrypt
[init]
	defaultBranch = main
