[includeIf "gitdir:~/Development/_Personal/"]
	path = .gitconfig_personal
[core]
	excludesfile = /Users/elise/.gitignore_global
	editor = nano
[commit]
	template = /Users/elise/.stCommitMsg
[gpg]
	program = /opt/homebrew/bin/gpg
[alias]
	yoink = pull
	yeet = push
[diff "blackbox"]
	textconv = gpg --use-agent -q --batch --decrypt
[init]
	defaultBranch = main
